<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spotoolfy_flutter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
				<key>dateExpires</key>
				<string>2025/12/16</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SpotifyiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_appauth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.36</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>spotify_sdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AB6ABD08BC62D1B3F309EE3621739D5FDB10A93</string>
						<key>dateExpires</key>
						<string>2025/12/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M75T74PTC4</string>
						<key>name</key>
						<string>WUYI CHEN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M75T74PTC4.com.gojyuplusone.spotoolfy.spotoolfyFlutter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M75T74PTC4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3fdccce6-d5e0-4280-a2af-4646a8cde347</string>
				<key>dateExpires</key>
				<string>2025/12/16</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gojyuplusone.spotoolfy.spotoolfyFlutter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M75T74PTC4</string>
				<key>name</key>
				<string>WUYI CHEN</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
